MONGODB_URI=mongodb://127.0.0.1:27017/duidtin
JWT_ACCESS_SECRET=ganti-dengan-string-acak-minimal-32-karakter-aaaa
JWT_REFRESH_SECRET=ganti-dengan-string-acak-lain-minimal-32-karakter
ACCESS_TOKEN_TTL=5m
REFRESH_TOKEN_TTL=1d
CORS_ORIGINS=http://localhost:3000,http://localhost:3003
PORT=4000
